{% extends 'base.html' %}

{% block head_title %}
social_network
{% endblock %}

{% block content %}
<div class='row text-center'>
    <div class='col'>
        <h1>Welcome to Social_Network</h1>
    </div>
</div>

<div class='row mb-3'>
    <div class='col-md-4 mx-auto col-10'>
        <form class='form' id="tweet-create-form" method='POST' action='/create-tweet/'>
            {% csrf_token %}
            <input type='hidden' value='/' name='next' />
            <textarea class='form-control' name='content' placeholder='Your tweet...'></textarea>
            <button type='submit' class='btn btn-primary'>Tweet</button>
        </form>
    </div>
</div>
<div class="row" id="tweets">
    Loading ...
</div>

<script>
    const tweetsContainerElement = document.getElementById("tweets") //$("#tweets")
    // tweetsElement.innerHTML = 'Loading...'
    //
    // var el1 = "<h1>Hi there</h1>"
    // var el2 = "<h2>Hi there</h2>"
    // var el3 = "<h3>Hi there</h3>"
    //
    // tweetsElement.innerHTML = el1 + el2 + el3

    //first function to load Api
    const loadTweets = function (tweetsElement) {
        const xhr = new XMLHttpRequest() // xhr = SomeClass()
        const method = 'GET' //'POST'
        const url = "/tweets"
        const responseType = "json"
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function () {
            console.log(xhr.response)
            const serverResponse = xhr.response
            var listedItems = serverResponse.response //data.response
            var finalTweetStr = ""
            var i;
            for (i = 0; i < listedItems.length; i++) {
                // console.log(i)
                // console.log(listedItems[i])
                var tweetObj = listedItems[i]
                var currentItem = formatTweetElement(tweetObj)
                finalTweetStr += currentItem
            }
            tweetsElement.innerHTML = finalTweetStr

            // console.log(listedItems) //xhr.response.response
        }
        xhr.send()
    }

    // var currentItem => formatTweetElement() => LikeBtn => handleDidLike()
    //3
    function handleDidLike (tweet_id, currentCount) {
        console.log(tweet_id, currentCount)
        return
    }
    //2
    function LikeBtn(tweet) {
        return "<button class='btn btn-primary btn-sm' onclick=handleDidLike(" +
        tweet.id + "," + tweet.likes + ")>" + tweet.likes + " Likes</button>"
    }
    //1
    function formatTweetElement(tweet) {
        var formattedTweet = "<div class='mx-auto border-top rounded py-3 mb-4 tweet' id=' tweet- "+ tweet.id + "'><div>" + tweet.content +
          "</p><div class='btn-group'>" + LikeBtn(tweet) +
            "</div></div>"

        return formattedTweet
    }
    //load the data and show in the page for the first Time
    loadTweets(tweetsContainerElement)

    //lets play with dynamic objects in this page

    //we are sending data to the url that we want
    //and we want to refresh rhe page and get the new list of data
    //and show the data again
    function handleTweetCreateFormDidSubmit(event) {
        event.preventDefault()
        const myForm = event.target
        const myFormData = new FormData(myForm)
        const url = myForm.getAttribute("action")
        const method = myForm.getAttribute("method")
        const xhr = new XMLHttpRequest()
        //we should set json
        const responseType = "json"
        xhr.responseType = responseType
                //we should set the header tp complete AJAX
        xhr.open(method, url)
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
        xhr.onload = function() {
            if (xhr.status ===201){
                const newTweetJson = xhr.response
                // const newTweetJson = JSON.parse(newTweet)
                console.log(newTweetJson.likes)
                const newTweetElement = formatTweetElement(newTweetJson)
                console.log(newTweetElement)
                tweetsContainerElement.prepend(newTweetElement)
            }
            // console.log(xhr.status, serverResponse)
            // const tweetsEl = document.getElementById("tweets")
            // loadTweets(tweetsEl)
        }
        //sending the data to backend
        xhr.send(myFormData)
    }
        // console.log(url, method)
            // for (var myItem of myFormData.entries()){
            //     console.log(myItem)
            // }
        //myFormData , its a list of objects
        //let person1 = new Object();
        /*
        const object1 = {
          a: 'somestring',
          b: 42
        };*/
        //for (let [key, value] of Object.entries(object1)) {
        // console.log(`${key}: ${value}`);
        //}
        // expected output:
        // "a: somestring"
        // "b: 42"

    //    console.log(event.target)
    //    console.log(event)

    const tweetCreateFormEl = document.getElementById("tweet-create-form")
    tweetCreateFormEl.addEventListener("submit", handleTweetCreateFormDidSubmit)
</script >
{% endblock content %}